/* navigation css */
.navigation__unorderedList {
    list-style: none;
}
.navigation__link {
    color: rgb(11, 147, 172);
    text-decoration: none;
}
.navigation__link:visited {
    color: rgb(82, 200, 216);
}
.navigation__link:focus {
    outline: 1px solid;
}
.navigation__link:hover {
    color: rgb(63, 173, 216);
    outline: none;
}
.navigation__link:active {
    color: rgb(64, 102, 230);
}